{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Tentatives du {{ date|date('d/m/Y') }}</h1>
                <h2>Mot à deviner : {{ attempts[0].word.content }}</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tentative</th>
                        <th scope="col">Type</th>
                        <th scope="col">Essai N°</th>
                        <th scope="col">Mot valide</th>
                        <th scope="col">Heure</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for attempt in attempts %}
                    <tr class="{{ attempt.isSuccess ? 'bg-success text-white' : '' }}">
                        <th scope="row">
                            {{ attempt.id }}
                        </th>
                        <td>
                            {{ attempt.content }}
                        </td>
                        <td>
                            {{ attempt.word.isVip ? '⭐' : 'Normal' }}
                        </td>
                        <td>
                            {{ attempt.number }}
                        </td>
                        <td>
                            {% if attempt.isValid %}
                                <i class="fas fa-check text-success"></i>
                            {% else %}
                                <i class="fas fa-times text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            {{ attempt.createdOn|date('H:i:s') }}
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
