{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="count">
                    {{ pagination.getTotalItemCount }} tentatives aujourd'hui
                </div>
                <h1>Tentatives du {{ date|date('d/m/Y') }}</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tentative</th>
                        <th scope="col">Type</th>
                        <th scope="col">Essai N°</th>
                        <th scope="col">Mot valide</th>
                        <th scope="col">Heure</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for attempt in pagination %}
                    <tr class="{{ attempt.isSuccess ? 'bg-success' : '' }}">
                        <th scope="row">
                            {{ attempt.id }}
                        </th>
                        <td>
                            {{ attempt.content }}
                        </td>
                        <td>
                            {{ attempt.word.isVip ? '⭐' : 'Normal' }}
                        </td>
                        <td>
                            {{ attempt.number }}
                        </td>
                        <td>
                            {% if attempt.isValid %}
                                <i class="fas fa-check text-success"></i>
                            {% else %}
                                <i class="fas fa-times text-danger"></i>
                            {% endif %}
                        </td>
                        <td>
                            {{ attempt.createdOn|date_modify("+1 hour")|date('H:i:s') }}
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
